.App {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 230, 0);
}

.navbar {
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 100;
    height: 7.5vh;
}

.textbox {
    margin-right: 2em;
    border-radius: 1em;
    font-weight: 800;
    box-shadow: 2.5px 2.5px black;
}

.search_button {
    border-radius: 1em;
    background-color: white;
    font-weight: 800;
    margin-right: 2em;
    box-shadow: 2.5px 2.5px black;
}

.search_button:hover, .search_button:active {
    transform: scale(1.1);
    cursor: pointer;
}

.random_button {
    border-radius: 1em;
    background-color: white;
    font-weight: 800;
    box-shadow: 2.5px 2.5px black;
}

.random_button:hover, .random_button:active {
    transform: scale(1.1);
    cursor: pointer;
}

.cocktail_card {
    display: inline-block;
    background-color: #b377ec;
    border: 10px solid black;
    width: 50%;
    box-shadow: 10px 10px 14px 2px ;
    border-radius: 25px;
    position: relative;
    margin-top: 1em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    font-size: x-large;
}

.cocktail_title {
    font-size: xx-large;
    position: relative;
    text-align: center;
}

.image_div {
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.ingredients {
    text-align: left;
    padding-left: 20px;    
}

/* .instructions {
} */

.instructions_title {
    text-align: left;
    padding-left: 20px; 
}

.instructions_text {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
} 